#navbar
  a.name(href="/")
    h2.first
      |noah
    h6.last
      |morrison

  div.pages
    a(href="/projects")|projects
    a(href="/resume")|r&eacute;sum&eacute;
    a(href="/pokemon")|pok&eacute;mon
